version: '3'

services:
  database:
    image: database:dev
    build:
      args:
        source: obj/Docker/empty/
    volumes:
      - c:\users\steven\documents\visual studio 2017\Projects\Bakery\Database:C:\inetpub\wwwroot
      - C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\Common7\IDE\Remote Debugger:C:\remote_debugger:ro
    entrypoint: cmd /c "start /B C:\\ServiceMonitor.exe w3svc & C:\\remote_debugger\\x64\\msvsmon.exe /noauth /anyuser /silent /nostatus /noclrwarn /nosecuritywarn /nofirewallwarn /nowowwarn /timeout:2147483646"
    labels:
      com.microsoft.visualstudio.debuggee.program: "C:\\app\\bin\\Release\\Database.dll"
      com.microsoft.visualstudio.debuggee.workingdirectory: "C:\\app"


  webapplication:
    image: webapplication:dev
    build:
      args:
        source: obj/Docker/empty/
    volumes:
      - c:\users\steven\documents\visual studio 2017\Projects\Bakery\WebApplication:C:\inetpub\wwwroot
      - C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\Common7\IDE\Remote Debugger:C:\remote_debugger:ro
    entrypoint: cmd /c "start /B C:\\ServiceMonitor.exe w3svc & C:\\remote_debugger\\x64\\msvsmon.exe /noauth /anyuser /silent /nostatus /noclrwarn /nosecuritywarn /nofirewallwarn /nowowwarn /timeout:2147483646"
    labels:
      com.microsoft.visualstudio.debuggee.program: "C:\\app\\bin\\WebApplication.dll"
      com.microsoft.visualstudio.debuggee.workingdirectory: "C:\\app"
